body {
    background-color: #373737;
}

ul.nav{
    position: absolute;
    top: 1.9%;
    left: 2%;
    padding-left: 0px;
}
.nav li { 
    display: inline; 
}
ul.nav a {
    display: inline-block;
    width: auto;
    padding:10px;
    background-color: #c0c0c0;
    border: 1px dashed #000000;
    text-decoration: none;
    color: #000000;
    text-align: center;
}
ul.nav a:hover{
    background-color: #333;
    color: #f4f4f4;
}

.text {
    font-style: italic;
    color: #fff;
    -webkit-text-stroke: 1px black;
}